@model IEnumerable<tsitron.Domain.Entitys.Goods.Flower>

@{
    ViewBag.Title = "ConflictFlowers";
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
}

<h2>ConflictFlowers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moderated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moderated)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "FlowerDetails", new { id=item.Id, returnUrl=Request.Url?.PathAndQuery}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
