@model tsitron.Domain.Entitys.Customers.Customer

<div class="custView">
    <div class="photoCust">
        <img src="~/Content/img/face.jpg" alt="photo"/>
    </div>
    <div class="descrSeller text-right">
        <h4>@Model.Title</h4>
        <p>@Model.Register.ToString("dd MMMM yyyy")</p>
        <p>@Model.Location</p>
        <p>@Model.MyShop.Title</p>
    </div>
    <div class="options">
        <ul>
            <li>@Html.ActionLink("АДМИНКА", "Index", "Seller")</li>
            <li>@Html.ActionLink("ВЫХОД","Logout","Security")</li>
        </ul>
    </div>
</div>

